.date-time-picker {
  position: relative;
  width: 200px;
  border: 1px solid #359be5;
  padding: 2px;
  border-radius: 2px; }
  .date-time-picker .shedule {
    color: #359be5;
    width: 100%; }
  .date-time-picker .date-time-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 8px 16px;
    background: #fafafa;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
    .date-time-picker .date-time-overlay .date-now-btn {
      display: flex;
      width: calc(100% + 32px);
      justify-content: center;
      margin: -8px -16px 0;
      padding: 8px 2px; }
    .date-time-picker .date-time-overlay .go-back {
      padding: 2px !important;
      width: 100%;
      margin: 8px 0; }
